.inscription-container {
    text-align: center;
    padding: 20px;
  
    .logo {
      //width: 10px;
      margin-bottom: 20px;
      
    }
  
    h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }
  
    p {
      color: #666;
      margin-bottom: 20px;
    }
  
    ion-item {
      margin-bottom: 15px;
    }
  
    ion-label {
      font-weight: bold;
      color: #000; /* Couleur du texte du label (plus foncé) */
      margin-bottom: 5px;
    }
  
    ion-input::part(native) {
      color: #333; /* Couleur du texte dans le champ */
    }
  
    ion-input::part(placeholder) {
      color: #999; /* Couleur plus claire pour le placeholder */
    }
  
    .or-divider {
      margin: 15px 0;
      color: #999;
      font-size: 14px;
    }
  
    ion-button {
      margin-top: 20px;
    }
  }
  