<ion-header>
  <ion-toolbar>
    <div class="header-container">
      <img src="assets/logo.jpg" alt="GSN Star-up" class="logo">
      <ion-title>GSN Star-up</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="reinitialiser-container">
  <ion-item>
    <h1>Réinitialiser le mot de passe</h1>
    <ion-label position="floating">Nouveau mot de passe</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Confirmez le mot de passe</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="resetPassword()">Réinitialiser</ion-button>
</div>
</ion-content>
