<ion-header>
  <ion-toolbar>
    <ion-title>
      Livraison
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="success-container">
    <img src="../../assets/image/success.png" alt="Success" class="success-image">
    <h1>Success!</h1>
    <p>Your order will be delivered soon. Thank you for choosing our app!</p>
  </div>
  <div class="button-container">
    <ion-button shape="round" expand="block" color="warning" class="button1">Continuer</ion-button>
  </div>
</ion-content>
