ion-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 375px;
  height: 852px;
  background: #FFFFFF;
  padding: 20px;
}

.success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
}

.success-image {
  margin-top: 80px;
  width: 200px;  // Ajustez cette valeur selon vos besoins
  height: 200px;  // Ajustez cette valeur selon vos besoins
 
}

h1 {
  font-size: 24px;
  color: #4CAF50;  // Couleur pour indiquer le succès
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

.button-container {
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0;
}

ion-button.button1 {
  width: 100%;
  --background: #FFC107;  // Couleur jaune pour le bouton
  color: #fff;
}
