<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Paiement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <!--  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">paiement</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-card>
    <ion-item lines="none" class="card-item">
      <div class="card-content">

        <ion-card-content>
          <p style="font-weight: bolder;">Moustapha Diop</p>
          <p style="font-weight: bolder;font-size: 20px;">Keur Massar PA U5 </p>
          <p style="font-weight: bolder;font-size: 20px;">77 458 45 41</p>

        </ion-card-content>

      </div>
    </ion-item>

  </ion-card>
</ion-content>
