<ion-header>
  <ion-toolbar>
    <div class="header-container">
      <img src="assets/logo.jpg" alt="GSN Star-up" class="logo">
      <ion-title>GSN Star-up</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="modify-password-container">
    <h1>Modifier le mot de passe</h1>
    <ion-item class="input-item">
      <ion-label position="floating">Nouveau mot de passe</ion-label>
      <ion-input type="password" [(ngModel)]="newPassword" name="newPassword" required></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-label position="floating">Confirmez le mot de passe</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required></ion-input>
    </ion-item>

    <ion-button expand="block" color="success" (click)="modifyPassword()">Modifier</ion-button>
  </div>
</ion-content>


