   <!-- <ion-header [translucent]="true">
  <ion-toolbar>
 <ion-title>
      Tab 2
    </ion-title> 
  </ion-toolbar>
</ion-header>-->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>
        Commande
      </ion-title> 
      <ion-icon name="cart-outline" aria-hidden="true" slot="end" size="large"></ion-icon>
      <ion-icon name="notifications-outline" slot="end" size="large"></ion-icon>
    </ion-toolbar>
  </ion-header>
<ion-row>
  <ion-col style="padding-left: 20px;">  <ion-chip color="medium"><b>Livé</b></ion-chip></ion-col>
  <ion-col>   <ion-chip color="medium"><b>En cours</b></ion-chip></ion-col>
  <ion-col>   <ion-chip color="danger"><b>Annulé</b></ion-chip></ion-col>

</ion-row>

  <ion-card>
    <ion-item lines="none" class="card-item">
      <div class="card-content">

        <ion-card-content>
          <p style="font-weight: bolder;">N°45455548 <span style=" float: right;font-weight: normal !important;">10-05-2024</span> </p>
          <p>Quantité : <span  style="font-weight: bolder;">3</span></p>          
          <p >Montant : <span style="font-weight: bolder; ">25000F <span style=" float: right;color: #28BB50;">payé</span></span> </p>
          <p style="font-weight: bolder;color: #28BB50;padding-top: 5px;;">Livré <span style=" float: right; --color:#000000 !important;"> <ion-button fill="outline" class="btn" style=" --color:#000000 !important;" color="light" size="small">Détail</ion-button>          </span></p>
          
        </ion-card-content>

      </div>
    </ion-item>

  </ion-card>
  <ion-card>
    <ion-item lines="none" class="card-item">
      <div class="card-content">

        <ion-card-content>
          <p style="font-weight: bolder;">N°45455548 <span style=" float: right;font-weight: normal !important;">10-05-2024</span> </p>
          <p>Quantité : <span  style="font-weight: bolder;">3</span></p>          
          <p >Montant : <span style="font-weight: bolder; ">25000F <span style=" float: right;color: #28BB50;">payé</span></span> </p>
          <p style="font-weight: bolder;color: #28BB50;padding-top: 15px;;">Livré <span style=" float: right; --color:#000000 !important;"> <ion-button fill="outline" class="btn" style=" --color:#000000 !important;" color="light" size="small">Détail</ion-button>          </span></p>
          
        </ion-card-content>

      </div>
    </ion-item>

  </ion-card>
  <ion-card>
    <ion-item lines="none" class="card-item">
      <div class="card-content">

        <ion-card-content>
          <p style="font-weight: bolder;">N°45455548 <span style=" float: right;font-weight: normal !important;">10-05-2024</span> </p>
          <p>Quantité : <span  style="font-weight: bolder;">3</span></p>          
          <p >Montant : <span style="font-weight: bolder; ">25000F <span style=" float: right;color: #28BB50;">payé</span></span> </p>
          <p style="font-weight: bolder;color: #28BB50;padding-top: 15px;;">Livré <span style=" float: right; --color:#000000 !important;"> <ion-button fill="outline" class="btn" style=" --color:#000000 !important;" color="light" size="small">Détail</ion-button>          </span></p>
          
        </ion-card-content>

      </div>
    </ion-item>

  </ion-card>
  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
