.card-item {
  display: flex;
  align-items: stretch;
}

.card-image {
  max-width: 100px;
  width: 100px;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  flex-grow: 1;
}

.next-icon {
  align-self: flex-end;
  margin-top: 10px;
//margin-bottom: 0px;
  // cursor: pointer;
  //margin-top: 16px;
}
