<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-item lines="none" class="card-item">
      <ion-img src="assets/image/riz1.png" class="card-image"></ion-img>
      <div class="card-content">

        <ion-card-content>
          <p style="font-weight: bolder;">Riz 50 kg</p>
          <p style="font-weight: bolder;font-size: 10px;">Quantité : 1kg</p>
          <p style="font-weight: bolder;font-size: 10px;">PU : 100 F</p>
          <ion-row>


            <ion-col><p><ion-button  color="success" shape="round">
            <ion-icon slot="icon-only" name="add" size="small"></ion-icon>
          </ion-button><ion-text class="quantite">3</ion-text>
          <ion-button  color="success" shape="round">
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button></p></ion-col>
          <ion-col> <p  class="next-icon">10000 CFA</p></ion-col>
        </ion-row>
        </ion-card-content>

      </div>
    </ion-item>
  </ion-card>


  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
