<ion-header [translucent]="true">
  <ion-toolbar>
   <!--  <ion-title>
      Tab 2
    </ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-item lines="none" class="card-item">
      <ion-img src="assets/image/riz1.png" class="card-image"></ion-img>
      <div class="card-content">

        <ion-card-content>
          <p style="font-weight: bolder;">Riz 50 kg</p>
          <p style="font-weight: bolder;font-size: 10px;">Quantité : 1kg</p>
          <p style="font-weight: bolder;font-size: 10px;">PU : 100 F</p>
          <ion-row>
            <ion-col>
              <p style="display: flex; align-items: center;">
                <ion-button color="warning" shape="round">
                  <ion-icon slot="icon-only" name="remove" size="small"></ion-icon>
                </ion-button>
                <ion-text class="quantite" style="margin: 0 5 px;">3</ion-text>
                <ion-button color="success" shape="round">
                  <ion-icon slot="icon-only" name="add"></ion-icon>
                </ion-button>
              </p>
            </ion-col>
          </ion-row>
          
         <p  class="next-icon">10000 CFA</p>
        </ion-card-content>

      </div>
    </ion-item>

  </ion-card>
  <ion-card>
    <ion-item lines="none" class="card-item">
      <ion-img src="assets/image/riz1.png" class="card-image"></ion-img>
      <div class="card-content">

        <ion-card-content>
          <p style="font-weight: bolder;">Riz 50 kg</p>
          <p style="font-weight: bolder;font-size: 10px;">Quantité : 1kg</p>
          <p style="font-weight: bolder;font-size: 10px;">PU : 100 F</p>
         <ion-row>
  <ion-col>
    <ion-label class="quantite" style="display: flex; align-items: center;">
      <ion-icon name="add-circle-outline" color="primary" size="large"></ion-icon>
      <span style="margin: 0 8px;">4</span>
      <ion-icon name="add-circle-outline" color="primary" size="large"></ion-icon>
    </ion-label>
  </ion-col>
</ion-row>

        <p  class="next-icon">10000 CFA</p>
        </ion-card-content>

      </div>
    </ion-item>

  </ion-card>
  <ion-grid  class="montant">
    <ion-row >
      <ion-col><h2>Montant Total</h2></ion-col>
      <ion-col><h2 class="position-right">10000 F CFA</h2></ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-button shape="round" expand="block" color="warning">Proceder au paiement</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
