.card-item {
  display: flex;
  align-items: stretch;
}


.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.btn
{
  --color: #000000 !important;
}
