<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>detail-produit</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
 <!--  <ion-header collapse="condense">
    <ion-toolbar>

    </ion-toolbar>
  </ion-header> -->
  <ion-row >
    <ion-col>
      <ion-icon name="person-add-outline" size="large"></ion-icon>

    </ion-col>
    <ion-col>
      <div class="position-right">
      <ion-icon name="cart-outline" aria-hidden="true" size="large"></ion-icon><span>1</span>
      <ion-icon name="notifications-outline"  size="large"></ion-icon><span>1</span>
    </div>
    </ion-col>
  </ion-row>
  <ion-card>
    <img src="assets/image/slide1.png" class="position-right">

  </ion-card>
  <ion-row class="texte-produit">
    <ion-col>
      <h1><b>RIZ</b></h1>
      <p>produit Alimentaire</p>
    </ion-col>
    <ion-col>

    </ion-col>

  </ion-row>
  <ion-row>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
      molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
      numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
    </p>

  </ion-row>
  <ion-button shape="round" color="warning">Ajouter Panier</ion-button>

</ion-content>
