<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>detail-produit</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
 <!--  <ion-header collapse="condense">
    <ion-toolbar>

    </ion-toolbar>
  </ion-header> -->
  <ion-row >
    <ion-col>

    </ion-col>
    <ion-col>
      <div class="position-right">
      <ion-icon name="cart-outline" aria-hidden="true" size="large"></ion-icon><span style="color: red;">1</span>
      <ion-icon name="notifications-outline"  size="large"></ion-icon><span style="color: red;">1</span>
    </div>
    </ion-col>
  </ion-row>
  <ion-card>
    <img src="assets/image/slide1.png" class="position-right">

  </ion-card>
  <ion-row class="texte-produit">
    <ion-col>
      <h1><b>RIZ</b></h1>
      <p>produit Alimentaire</p>
    </ion-col>
    <ion-col>

    </ion-col>

  </ion-row>
  <ion-row class="texte-produit">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
      molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
      numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
    </p>

  </ion-row>
  <ion-row class="texte-produit">
    <ion-col  >  <ion-button shape="round" color="warning">Ajouter Panier</ion-button>
    </ion-col>
    
  </ion-row>
  <ion-row>
    <ion-col size="6" size-md="4" size-lg="2">
      <ion-card class="produit">
        <img alt="Silhouette of mountains" src="assets/image/riz1.png" />

        <ion-card-content >
          <ion-card-subtitle>Riz Parfume</ion-card-subtitle>

          <p>100% brisé 25 kg</p>
          <ion-row>
            <ion-col size="9" ><h2 style="padding-top: 8px;"><b >12000F</b></h2></ion-col>
            <ion-col size="2"  class="position-right" ><ion-button  color="warning" shape="round">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
          </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6" size-md="4" size-lg="2">
      <ion-card class="produit">
        <img alt="Silhouette of mountains" src="assets/image/riz1.png" />

        <ion-card-content >
          <ion-card-subtitle>Riz Parfume</ion-card-subtitle>

          <p>100% brisé 25 kg</p>
          <ion-row>
            <ion-col size="9" ><h2 style="padding-top: 8px;"><b >12000F</b></h2></ion-col>
            <ion-col size="2"  class="position-right" ><ion-button  color="warning" shape="round">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
          </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
