<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Adresse de livraison</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="ellipsis-horizontal"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngFor="let address of addresses; let i = index">
    <ion-card-content>
      <div class="address-item">
        <div>
          <h2>{{ address.name }}</h2>
          <p>{{ address.address }}</p>
        </div>
        <ion-button fill="clear" class="address-modify">Modifier</ion-button>
      </div>
      <ion-item lines="none">
        <p>Utiliser cette adresse de livraison</p>
        <ion-checkbox 
            slot="start" 
            [(ngModel)]="address.selected" 
            (ionChange)="selectAddress(i)" 
            class="custom-checkbox">
        </ion-checkbox>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <div class="add-button-container">
    <ion-button color="success" class="add-address">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="footer-buttons">
    <ion-button shape="round" expand="block" color="warning" class="enregistrer-btn">Enregistrer</ion-button>
  </div>
</ion-content>
