.reinitialiser-container {
    text-align: center;
    padding: 20px;
  
    .logo {
      width: 80px;
      margin-bottom: 20px;
    }
  
    h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }
  
    p {
      color: #666;
      margin-bottom: 20px;
    }
  
    ion-item {
      margin-bottom: 15px;
    }
  
    ion-label {
      font-weight: bold;
      color: #000; /* Couleur du texte du label */
    }
  
    ion-input::part(native) {
      color: #333; /* Couleur du texte dans le champ */
    }
  
    ion-input::part(placeholder) {
      color: #999; /* Couleur pour le placeholder */
    }
  
    ion-button {
      margin-top: 20px;
    }
  
    .remember-password {
      margin-top: 20px;
      p {
        color: #666;
        font-size: 14px;
      }
  
      a {
        color: #000;
        font-weight: bold;
      }
    }
  }
  